# if you don't want to set the value you can remove the line or comment it out with a hash (#)

PATH_URL=/
PATH_URL_IMG=public/upload/images/
PATH_URL_IMG_PRODUCT=public/upload/products/

DB_HOST=db_server
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=new_mvc_shop_db

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_UNAME
SMTP_PWORD

################### For docker ###################
APP_NAME

APP_PORT
SSL_PORT

MYSQL_PORT
MYSQL_USER
MYSQL_ROOT_PASS
MYSQL_DB
MYSQL_PASS

PHPMYADMIN_PORT
PHPMYADMIN_UPLOAD_LIMIT
