@import 'ui-kit/variables';
@import 'ui-kit/mixins';

// Core CSS
@import "ui-kit/buttons";
@import "ui-kit/inputs";
@import "ui-kit/checkboxes-radio";
@import "ui-kit/progress";
@import "ui-kit/badges";
@import "ui-kit/pagination";
@import "ui-kit/typography";
@import "ui-kit/misc";
@import "ui-kit/pills";

// components
@import "ui-kit/social-buttons";
@import "ui-kit/tabs";
@import "ui-kit/navbar";
@import "ui-kit/alerts";
@import "ui-kit/images";
@import "ui-kit/popups";
@import "ui-kit/modals";
@import "ui-kit/carousel";
@import "ui-kit/cards";
@import "ui-kit/footers";

// example pages and sections
@import "ui-kit/example-pages";


@import "ui-kit/responsive";
