/* Page Top */
.page-top {
	background-color: #171717;
	border-bottom: 5px solid #CCC;
	border-top: 5px solid #384045;
	margin-bottom: 35px;
	min-height: 50px;
	padding: 0;
	padding: 20px 0;
	position: relative;
	text-align: $left;
	ul.breadcrumb {
		background: none;
		margin: -3px 0 0;
		padding: 0;
		> li {
			text-shadow: none;
		}
	}
	h1 {
		border-bottom: 5px solid #CCC;
		color: #FFF;
		display: inline-block;
		font-weight: 200;
		margin: 0 0 -25px;
		min-height: 37px;
		font-size: 2.6em;
		line-height: 46px;
		padding: 0 0 17px;
		position: relative;
	}
}

/* Page Top Custom - Create your Own */
.page-top {
	&.custom-product {
		background-image: url(../img/custom-header-bg.jpg);
		background-repeat: repeat;
		background-color: #999;
		border-top: 5px solid #888;
		overflow: hidden;
		.row {
			position: relative;
		}
		p.lead {
			color: #E8E8E8;
		}
		img {
			bottom: -47px;
			position: relative;
		}
		h1 {
			color: #FFF;
			margin-bottom: 10px;
			margin-top: 30px;
			border: 0;
		}
	}
}

/* Responsive */
@media (max-width: 479px) {

	.page-top {
		padding: 16px 0;
		h1 {
			line-height: 37px;
		}
	}

}