[mysqld]
wait_timeout = 3000000
bind-address = 0.0.0.0
innodb_file_per_table
character_set_server = utf8mb4
collation-server = utf8mb4_unicode_ci

;general_log_file = /var/log/query.log
;general_log = 1
innodb-buffer-pool-size = 8G
innodb_buffer_pool_instances = 8
thread_cache_size = 128
table_open_cache = 4096
sort_buffer_size = 8M
innodb_buffer_pool_size = 8G
join_buffer_size = 8M
tmp_table_size = 128M
key_buffer_size = 32M
max_allowed_packet = 1024M
max_heap_table_size = 64M
read_rnd_buffer_size = 16M
read_buffer_size = 2M
bulk_insert_buffer_size = 64M
innodb_flush_log_at_trx_commit = 2
innodb_thread_concurrency = 0
max_connections = 1000
innodb_log_buffer_size = 10M
myisam_sort_buffer_size = 128M
explicit_defaults_for_timestamp = 1

sort_buffer_size=8M
read_buffer_size=2M
read_rnd_buffer_size=16M
myisam_sort_buffer_size=128M
thread_cache_size=128
query_cache_limit=1M
query_cache_size=64M
query_cache_type=1
