/* Buttons */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
	background-color: #CCC;
	border-color: #CCC;
}

.btn-primary[disabled] {
	border-color: #CCC !important;
	background-color: #CCC;
	background-image: none;
}

.btn-icon i {
	margin-#{$right}: 10px;
}

.btn-icon-right i {
	margin-#{$right}: 0;
	margin-#{$left}: 10px;
}