/* Counters */
.counters {
	.fa {
		display: block;
		font-size: 35px;
		line-height: 35px;
		margin-bottom: 5px;
	}
	strong {
		display: block;
		font-weight: 600;
		font-size: 60px;
		line-height: 60px;
	}
	label {
		display: block;
		font-weight: 100;
		font-size: 20px;
		line-height: 20px;
	}
	&.dark {
		.fa {
			color: #333;
		}
		strong {
			color: #333;
			font-size: 50px;
			line-height: 50px;
		}
	}
}