/* Featured Box */
.featured-box {
	background: #F5F5F5;
	@include background(linear-gradient(to bottom, #FFF 1%, #F9F9F9 98%) repeat scroll 0 0 rgba(0, 0, 0, 0));
	@include box-sizing(border-box);
	border-bottom: 1px solid #DFDFDF;
	border-#{$left}: 1px solid #ECECEC;
	border-radius: 8px;
	border-#{$right}: 1px solid #ECECEC;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
	margin-bottom: 20px;
	margin-#{$left}: auto;
	margin-#{$right}: auto;
	margin-top: 20px;
	min-height: 100px;
	position: relative;
	text-align: center;
	z-index: 1;
	h4 {
		font-size: 1.3em;
		font-weight: 400;
		letter-spacing: -0.7px;
		margin-top: 5px;
		text-transform: uppercase;
	}
	.box-content {
		border-radius: 8px;
		border-top: 3px solid #33B8FF;
		border-top-width: 4px;
		padding: 30px 30px 10px 30px;
	}
	.learn-more {
		display: block;
		margin-top: 10px;
	}
}

/* Featured Boxes */
.featured-boxes {
	.featured-box {
		margin-bottom: 30px;
		margin-top: 45px;
		&.info-content {
			text-align: $left;
		}
	}
}

/* Primary */
.featured-box-primary {
	i.icon-featured {
		background-color: #E36159;
	}
	h4 {
		color: #E36159;
	}
	.box-content {
		border-top-color: #E36159;
	}
}

/* Secundary */
.featured-box-secundary {
	i.icon-featured {
		background-color: #CCC;
	}
	h4 {
		color: #CCC;
	}
	.box-content {
		border-top-color: #CCC;
	}
}

/* Tertiary */
.featured-box-tertiary {
	i.icon-featured {
		background-color: #2BAAB1;
	}
	h4 {
		color: #2BAAB1;
	}
	.box-content {
		border-top-color: #2BAAB1;
	}
}

/* Quartenary */
.featured-box-quartenary {
	i.icon-featured {
		background-color: #734BA9;
	}
	h4 {
		color: #734BA9;
	}
	.box-content {
		border-top-color: #734BA9;
	}
}

/* Featured Boxes - Login */
.featured-boxes {
	&.login {
		margin-top: -30px;
		.featured-box {
			text-align: $left;
		}
	}
	&.cart .featured-box {
		text-align: $left;
	}
	.featured-box-cart {
		margin-top: 0;
	}
}

/* Feature Box */
.feature-box {
	clear: both;
	.feature-box-icon {
		background: #CCC;
		border-radius: 35px;
		color: #FFF;
		display: inline-block;
		float: $left;
		height: 35px;
		line-height: 35px;
		margin-#{$right}: 10px;
		position: relative;
		text-align: center;
		top: 5px;
		width: 35px;
	}
	.feature-box-info {
		padding-#{$left}: 50px;
	}
}

/* Secundary */
.feature-box {
	&.secundary {
		h4 {
			color: $color-dark;
		}
		.feature-box-icon {
			background: transparent;
			width: 50px;
			height: 50px;
			i.fa {
				font-size: 28px;
			}
		}
		.feature-box-info {
			padding-#{$left}: 60px;
		}
	}
}

/* Icon Featured */
.icon-featured {
	border-radius: 100%;
	color: #FFF;
	font-size: 40px;
	line-height: 110px;
	margin: 25px 0;
	padding: 25px;
	display: inline-block;
	padding: 0;
	width: 110px;
	height: 110px;
}