/* Thumbnails */
.img-thumbnail {
	border-radius: 6px;
	position: relative;
	img {
		border-radius: 4px;
	}
	.zoom {
		background: #CCC;
		border-radius: 100%;
		bottom: 8px;
		color: #FFF;
		display: block;
		height: 30px;
		padding: 6px;
		position: absolute;
		#{$right}: 8px;
		text-align: center;
		width: 30px;
		i {
			font-size: 14px;
			#{$left}: -1px;
			position: relative;
			top: -3px;
		}
	}
}

/* Thumbnail Gallery */
ul.thumbnail-gallery {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	li {
		display: inline-block;
		margin: side-values(10px 10px 0 0);
		padding: 0;
	}
}

/* Responsive */
@media (max-width: 991px) {

	.thumbnail {
		border: 0;
		text-align: center;
	}

}