/* Parallax */
.parallax {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 70px 0;
	padding: 50px 0;
	position: relative;
	clear: both;
	&.parallax-ready {
		background-attachment: fixed;
	}
	&.parallax-disabled {
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}
	blockquote {
		border: 0;
		padding: 0 10%;
		i.fa-quote-left {
			font-size: 34px;
			position: relative;
			#{$left}: -5px;
		}
		p {
			font-size: 24px;
			line-height: 30px;
		}
		span {
			font-size: 16px;
			line-height: 20px;
			color: #999;
			position: relative;
			#{$left}: -5px;
		}
	}
}

/* Responsive */
@media (max-width: 991px) {

	.parallax {
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}	

}