/* Testimonials */
blockquote.testimonial {
	background: #CCC;
	border-radius: 10px;
	border: 0;
	color: #666;
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0;
	padding: 10px 50px;
	position: relative;
	&:before {
		#{$left}: 10px;
		top: 0;
		color: #FFF;
		content: if-ltr("\201C", "\201D");
		font-size: 80px;
		font-style: normal;
		line-height: 1;
		position: absolute;
	}
	&:after {
		color: #FFF;
		content: if-ltr("\201D", "\201C");
		font-size: 80px;
		font-style: normal;
		line-height: 1;
		position: absolute;
		bottom: -0.5em;
		#{$right}: 10px;
	}
	p {
		color: #FFF;
		font-family: Georgia, serif;
		font-style: italic;
		font-size: 1.2em;
		line-height: 1.3;
	}
}

/* Testimonials Arrow */
.testimonial-arrow-down {
	border-#{$left}: 15px solid transparent;
	border-#{$right}: 15px solid transparent;
	border-top: 15px solid #CCC;
	height: 0;
	margin: side-values(0 0 0 25px);
	width: 0;
}

/* Testimonials Author */
.testimonial-author {
	margin: side-values(8px 0 0 8px);
	.img-thumbnail {
		float: $left;
		margin-#{$right}: 10px;
		width: auto;
		img {
			max-width: 60px;
		}
	}
	strong {
		color: #111;
		display: block;
		padding-top: 7px;
	}
	span {
		color: #666;
		display: block;
		font-size: 12px;
	}
	p {
		color: #999;
		margin: side-values(0 0 0 25px);
		text-align: $left;
	}
}

/* Testimonials Carousel */
blockquote.testimonial-carousel {
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0;
	padding: 10px 50px;
	position: relative;
	&:before {
		#{$left}: 10px;
		top: 0;
		color: #FFF;
		content: if-ltr("\201C", "\201D");
		font-size: 80px;
		font-style: normal;
		line-height: 1;
		position: absolute;
	}
	&:after {
		#{$right}: 10px;
		color: #FFF;
		font-size: 80px;
		font-style: normal;
		line-height: 1;
		position: absolute;
		bottom: -0.5em;
		content: if-ltr("\201D", "\201C");
	}
	p {
		margin: 10px 0;
		color: #dadada;
		font-family: Georgia, serif;
		font-style: italic;
		font-size: 1.2em;
		line-height: 1.3;
	}
}