/* Blockquote */
blockquote {
	font-size: 1em;
}

/* Paragraphs */
p {
	color: $color-default;
	line-height: 24px;
	margin: 0 0 20px;
	&.featured {
		font-size: 1.6em;
		line-height: 1.5em;
	}
	&.short {
		margin-bottom: 0;
	}
	&.tall {
		margin-bottom: 20px;
	}
	&.taller {
		margin-bottom: 40px;
	}
	.alternative-font {
		display: inline-block;
		margin-top: -15px;
		position: relative;
		top: 3px;
		margin-bottom: -6px;
	}
}

a, a:hover, a:focus {
	color: #CCC;
}

/* Labels */
.label-primary {
	background-color: #CCC;
}

.label-dark,
.label-dark:hover {
	background: #111;
	text-decoration: none;
	font-weight: normal;
}

/* Drop Caps */
p.drop-caps {
	&:first-child:first-letter {
		float: $left;
		font-size: 75px;
		line-height: 60px;
		padding: 4px;
		margin-#{$right}: 5px;
		margin-top: 5px;
		font-family: Georgia;
	}
	&.secundary:first-child:first-letter {
		background-color: #CCC;
		color: #FFF;
		padding: 6px;
		margin-#{$right}: 5px;
		border-radius: 4px;
	}
}

/* Alternative Font Style */
.alternative-font {
	color: #CCC;
	font-family: $font-secundary;
	font-size: 1.6em;
}