/* Video */
section.video {
	-webkit-transform: translate3d(0, 0, 0);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 70px 0;
	padding: 50px 0;
	position: relative;
	overflow: hidden;
	width: 100%;
	blockquote {
		border: 0;
		padding: 0 10%;
		i.fa-quote-left {
			font-size: 34px;
			position: relative;
			#{$left}: -5px;
		}
		p {
			font-size: 24px;
			line-height: 30px;
		}
		span {
			font-size: 16px;
			line-height: 20px;
			color: #999;
			position: relative;
			#{$left}: -5px;
		}
	}
	.container {
		position: relative;
		z-index: 3;
	}
	.video-overlay {
		background: transparent url(../img/video-overlay.png) repeat 0 0;
		position: absolute;
		top: 0;
		#{$left}: 0;
		#{$right}: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}

html.boxed {
	section.video {
		> div:first-child {
			z-index: 0 !important;
			video {
				z-index: 0 !important;
			}
		}
	}
}