/* Map */
.map-section {
	background: transparent url(../img/map-top.png) center 0 no-repeat;
	padding-top: 220px;
	margin-top: 40px;
}

/* Home Intro */
.home-intro {
	background-color: #171717;
	margin-bottom: 60px;
	overflow: hidden;
	padding: 20px 0 10px 0;
	position: relative;
	text-align: $left;
	p {
		color: #FFF;
		display: inline-block;
		font-size: 1.4em;
		font-weight: 300;
		max-width: 800px;
		padding-top: 5px;
		span {
			color: #999;
			display: block;
			font-size: 0.8em;
			padding-top: 5px;
		}
		em {
			font-family: $font-secundary;
			font-size: 1.6em;
		}
	}
	.get-started {
		margin-top: 15px;
		margin-bottom: 15px;
		position: relative;
		text-align: $right;
		.btn {
			position: relative;
			z-index: 1;
			i {
				font-size: 1.1em;
				font-weight: normal;
				margin-#{$left}: 5px;
			}
		}
		a {
			color: #FFF;
		}
		a:not(.btn) {
			color: $color-default;
		}
	}
	.learn-more {
		margin-#{$left}: 15px;
	}
	&.light {
		background-color: #E2E2E2;
		&.secundary {
			background-color: #E0E1E4;
		}
		p {
			color: $color-default;
		}
	}
}

/* Home Intro Compact */
.home-intro-compact {
	border-radius: corner-values(0 0 10px 10px);
	margin-top: -10px;
	p {
		padding-#{$left}: 20px;
	}
	.get-started {
		padding-#{$right}: 20px;
	}
}

/* Responsive */
@media (max-width: 767px) {

	/* Home Intro */
	.home-intro-compact {
		margin-#{$left}: 0;
		margin-#{$right}: 0;
		padding-#{$left}: 0;
		padding-#{$right}: 0;
	}

}

/* Home Concept */
.home-concept {
	background: transparent url(../img/home-concept.png) no-repeat center 0;
	width: 100%;
	overflow: hidden;
	strong {
		display: block;
		font-family: $font-secundary;
		font-size: 2.1em;
		font-weight: normal;
		position: relative;
		margin-top: 30px;
	}
	.row {
		position: relative;
	}
	.process-image {
		background: transparent url(../img/home-concept-item.png) no-repeat 0 0;
		width: 160px;
		height: 175px;
		margin: 135px auto 0 auto;
		padding-bottom: 50px;
		position: relative;
		z-index: 1;
		img {
			border-radius: 150px;
			margin: 7px 8px;
		}
	}
	.our-work {
		margin-top: 52px;
		font-size: 2.6em;
	}
	.project-image {
		background: transparent url(../img/home-concept-item.png) no-repeat 100% 0;
		width: 350px;
		height: 420px;
		margin: side-values(15px 0 0 -30px);
		padding-bottom: 45px;
		position: relative;
		z-index: 1;
	}
	.sun {
		background: transparent url(../img/home-concept-icons.png) no-repeat 0 0;
		width: 60px;
		height: 56px;
		display: block;
		position: absolute;
		#{$left}: 10%;
		top: 35px;
	}
	.cloud {
		background: transparent url(../img/home-concept-icons.png) no-repeat 100% 0;
		width: 116px;
		height: 56px;
		display: block;
		position: absolute;
		#{$left}: 57%;
		top: 35px;
	}
}

/* Responsive */
@media (max-width: 991px) {

	.home-concept {
		background: none;
		.project-image {
			margin: 60px auto 0 auto;
		}
		.process-image {
			margin-top: 60px;
		}
	}

}

@media (max-width: 479px) {

	.home-concept {
		.project-image {
			background-position: 0 0;
			margin-#{$left}: auto;
			max-width: 160px;
			max-height: 220px;
		}
		.fc-slideshow {
			max-height: 145px;
			max-width: 145px;
			img {
				max-height: 145px;
				max-width: 145px;
			}
		}
	}

}