/* Portfolio */
.portfolio-title {
	margin-bottom: -10px;
	a {
		display: inline-block;
	}
	.fa {
		font-size: 2.5em;
	}
	.portfolio-nav,
	.portfolio-nav-all {
		margin-top: 11px;
	}
	.portfolio-nav {
		text-align: $right;
	}
	.portfolio-nav a {
		width: 40%;
	}
	.portfolio-nav-all .fa {
		font-size: 2.7em;
	}
	.fa-angle-right {
		text-align: $right;
	}
	.portfolio-nav-prev {
		text-align: $left;
		@include if-rtl {
			margin-right: 15px;
			float: left;
		}
	}
}

/* Portfolio Info */
.portfolio-info {
	margin: 2px 0 10px;
	float: $right;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			border-#{$right}: 1px solid #E6E6E6;
			color: #B1B1B1;
			padding-#{$right}: 8px;
			margin-#{$right}: 8px;
			font-size: 0.9em;
			&:last-child {
				border-#{$right}: 0;
				padding-#{$right}: 0;
				margin-#{$right}: 0;
			}
			a {
				text-decoration: none;
				color: #B1B1B1;
				&:hover {
					.fa-heart {
						color: #E53F51;
					}
				}
			}
			.fa {
				margin-#{$right}: 4px;
			}
		}
	}
}

/* Portfolio List */
ul {
	&.portfolio-list {
		list-style: none;
		margin: 0;
		padding: 0;
		.portfolio-item {
			margin-bottom: 35px;
		}
	}
}

/* Portfolio Details */
ul {
	&.portfolio-details {
		list-style: none;
		padding: 0;
		margin: side-values(45px 0 0 5px);
		font-size: 0.9em;
		li {
			padding: 0;
			margin: 0 0 20px;
		}
		p {
			padding: 0;
			margin: 0;
		}
		blockquote {
			padding: 0 0 0 10px;
			margin: 15px 0 0;
			color: #999;
		}
		ul.list-skills li {
			margin-#{$right}: 10px;
			margin-bottom: 5px;
		}
	}
}

/* Responsive */
@media (max-width: 991px) {

	.portfolio-nav, .portfolio-nav-all {
		display: none;
	}	

}