/* notification blink*/

.notify {
    position: absolute;
    top: 20px;
    right: 18px;

    .heartbit {
        @include border-radius(70px);
        position: absolute;
        top: -20px;
        right: -16px;
        height: 25px;
        width: 25px;
        z-index: 10;
        border: 4px solid;
        border-color: #3d4c5a;
        animation: heartbit 1s ease-out;
        -moz-animation: heartbit 1s ease-out;
        -moz-animation-iteration-count: infinite;
        -o-animation: heartbit 1s ease-out;
        -o-animation-iteration-count: infinite;
        -webkit-animation: heartbit 1s ease-out;
        -ms-animation: heartbit 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    .point {
        @include border-radius(30px);
        width: 6px;
        height: 6px;
        background-color: #3d4c5a;
        position: absolute;
        right: -6px;
        top: -10px
    }
}

@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0
    }
    25% {
        -moz-transform: scale(.1);
        opacity: .1
    }
    50% {
        -moz-transform: scale(.5);
        opacity: .3
    }
    75% {
        -moz-transform: scale(.8);
        opacity: .5
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0
    }
}
@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0
    }
    25% {
        -webkit-transform: scale(.1);
        opacity: .1
    }
    50% {
        -webkit-transform: scale(.5);
        opacity: .3
    }
    75% {
        -webkit-transform: scale(.8);
        opacity: .5
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}
@-ms-keyframes heartbit {
    0% {
        -ms-transform: scale(0);
        opacity: 0
    }
    25% {
        -ms-transform: scale(.1);
        opacity: .1
    }
    50% {
        -ms-transform: scale(.5);
        opacity: .3
    }
    75% {
        -ms-transform: scale(.8);
        opacity: .5
    }
    100% {
        -ms-transform: scale(1);
        opacity: 0
    }
}